body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

button{
    border-radius: 20px;
    height: 50px;
    width: 200px;
    border: none;
    border: 2px solid #236e71;
    background-color: #43d4d9;
}

button:hover{
    cursor: pointer;
    box-shadow: #00000050 0px 5px 15px;
}

.zapbtn{
    width:70px;
    height: 70px;
    /* position: fixed;
    bottom: 20px;
    right: 20px; */
    opacity: 0.8;
}

.zapbtn:hover{
  cursor: pointer;
  opacity: 1;
}